@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 1360px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 40px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.button {
  width: 174px;
  height: 56px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.header {
  width: 100%;
}

.header__body {
  width: 100%;
}

.delivery-icon {
  width: 16px;
  height: 16px;
}

.ad-banner-info {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.header__ad-banner {
  width: 100%;
  padding: 11px 0 11px 0;
  background-color: #2a254b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-button {
  margin-right: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__logo {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px 0 28px;
}

.search-icon {
  width: 16px;
  height: 16px;
}

.basket-icon {
  width: 16px;
  height: 16px;
}

.profile-icon {
  width: 16px;
  height: 16px;
}

.header-title {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header__logo-icons {
  display: flex;
  gap: 16px;
}

.header__divider {
  width: calc(100% - 54px);
  height: 1px;
  background-color: #0000001a;
  display: flex;
  justify-self: center;
}

.header__menu-list {
  padding: 20px 0 20px 0;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 44px;
}

.header__menu-link {
  color: #726e8d;
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero__content {
  padding: 130px 0 130px 0;
  display: flex;
  justify-content: flex-end;
}

.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__info {
  position: relative;
  width: 100%;
  max-width: 630px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #22202e;
  padding: 48px 0 20px 56px;
}

.hero-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #5b5676;
  padding-left: 56px;
  padding-bottom: 157px;
}

.hero__link {
  margin-left: 56px;
  margin-bottom: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a254b;
  width: 174px;
  height: 56px;
  cursor: pointer;
}

.advantages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 82px;
}

.advantages__title {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #2a254b;
  display: flex;
  justify-content: center;
  padding-bottom: 36px;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 22px;
}

.advantages__item {
  width: calc((25% - 18px) * 4 / 3);
  border-radius: 8px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px;
}

.advantages__icon {
  width: 24px;
  height: 24px;
  margin-bottom: 12px;
}

.advantages__item-title {
  font-weight: 700;
  font-size: 20px;
  color: #2a254b;
  padding-bottom: 12px;
}

.advantages__item-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2a254b;
}

.collection {
  width: 100%;
  padding: 28px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.collection__item-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #2a254b;
}

.collection__text {
  padding-top: 24px;
}

.collection__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  color: #2a254b;
  margin-top: 48px;
  width: 174px;
  height: 56px;
  border-radius: 8px;
  cursor: pointer;
}

.collection__icon {
  width: 100%;
}

.brand {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.brand__info {
  background-color: #2a254b;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  width: calc(50% - 8px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 64px;
  padding-right: 75px;
  padding-bottom: 54px;
  padding-left: 64px;
  aspect-ratio: 4/3;
}

.brand__image {
  width: calc(50% - 8px);
  height: 100%;
  display: block;
  aspect-ratio: 4/3;
}

.brand__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  padding-bottom: 12px;
}

.brand__button {
  background-color: #f9f9f926;
  color: #ffffff;
  opacity: 0.85;
  margin-top: 198px;
}

.sign-up {
  position: relative;
}

.sign-up__content {
  position: relative;
  width: 100%;
  padding-top: 97px;
  padding-bottom: 86px;
}

.sign-up__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sign-up__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sign-up__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #ffffff;
  padding-bottom: 12px;
}

.sign-up__text {
  padding-bottom: 30px;
}

.sign-up__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  gap: 36px;
  padding-bottom: 40px;
}

.sign-up__item {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.sign-up__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sign-up__body {
  width: 30%;
}

.sign-up__icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
}

.sign-up__field {
  display: flex;
}

.field__input {
  width: 100%;
  height: 56px;
  padding-left: 32px;
  border-radius: 8px 0 0 8px;
  border: 0;
  color: #2a254b;
}

input::placeholder {
  opacity: 0.5;
}

.sign-up__button {
  background-color: #2a254b;
  color: #ffffff;
  width: 119px;
  height: 56px;
  border-radius: 0 8px 8px 0;
  border: none;
  cursor: pointer;
}

.footer {
  width: 100%;
  padding-top: 53px;
  background-color: #2a254b;
}

.footer__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  flex-direction: row;
  gap: 60px;
  width: calc(50% - 170px / 2);
}

.footer__logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: #ffffff;
  padding-bottom: 16px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fafafa;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.footer__links-list {
  gap: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__icon {
  width: 24px;
  height: 24px;
}

.links-list__item {
  display: flex;
  align-items: center;
}

.footer__lists {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 120px;
  padding-bottom: 65px;
  width: calc(50% - 70px / 2);
}

.main__lists {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 12px;
}

.footer__menu-list {
  list-style: none;
}

.footer__lists-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #fafafa;
  text-decoration: none;
}

.footer__divider {
  width: 100%;
  height: 1px;
  background-color: #4e4d93;
  display: flex;
  justify-self: center;
}

.footer__text {
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 20px;
}

.product__sign-up {
  display: flex;
  flex-direction: row;
}

.product__sign-up__image {
  width: 50%;
}

.product__image {
  width: 100%;
}

.product__sign-up__content {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #2a254b;
  padding-bottom: 16px;
  padding-left: 83px;
}

.product__text {
  font-weight: 400;
  line-height: 150%;
  color: #2a254b;
  padding-left: 75px;
}

.product__sign-up__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 75px;
}

.product__body {
  width: 50%;
}

.product__field {
  display: flex;
}

.product__field-input {
  width: 100%;
  height: 56px;
  padding-left: 32px;
  border-radius: 8px 0 0 8px;
  border: 0;
  background-color: #fafafa;
  color: #2a254b;
}

.product__button {
  background-color: #2a254b;
  color: #ffffff;
  width: 119px;
  height: 56px;
  border-radius: 0 8px 8px 0;
  border: none;
  cursor: pointer;
}

.product__collection {
  width: 100%;
  padding: 64px 0 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__collection-title {
  font-weight: 700;
  font-size: 32px;
  color: #2a254b;
  display: flex;
  align-self: start;
  padding-bottom: 25px;
}

.product__collection-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.product__collection-item-long {
}

.product__collection-icon-long {
  width: 100%;
  max-height: 375px;
  border-radius: 8px;
}

.product__collection__item-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #2a254b;
}

.collection-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.product__collection-text {
  padding-top: 24px;
}

.product__collection-icon {
  width: 100%;
}

.product__collection-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  color: #2a254b;
  margin-top: 42px;
  width: 174px;
  height: 56px;
  border-radius: 8px;
  cursor: pointer;
}

.product {
  padding: 50px 0;
  background-color: #fafafa;
}

.product__content {
  display: flex;
  flex-direction: row;
  gap: 65px;
}

.product__main-image {
}

.product__main-image-chair {
  width: 100%;
}

.product__main-info {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.product__main-title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 16px;
}

.product__main-price {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 25px;
}

.product__divider {
  width: 100%;
  height: 1px;
  background-color: #ebe8f4;
  display: flex;
  justify-self: center;
}

.product__description-title {
  padding-top: 24px;
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
}

.product__description-text {
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
}

.product__table {
}

.product__table-title {
  padding-top: 32px;
  padding-bottom: 24px;
}

.product__table-items {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 36px;
  font-weight: 400;
  font-size: 16px;
}

.product__table-details {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 15px;
}

.product__table-item {
  border-right: 1px solid;
  border-color: #ebe8f4;
  max-width: 137px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__table-item:last-child {
  border-right: none;
}

.product__table-item-first {
  border-right: 1px solid;
  border-color: #ebe8f4;
  max-width: 98px;
  width: 100%;
}

.product__quantitity-title {
  padding-bottom: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.product__quantitity {
  max-width: 122px;
  display: flex;
  border-radius: 8px;
  background: #ffffff;
}

.input__button {
  padding: 12px 16px;
  text-align: center;
  color: #ebe8f4;
  cursor: pointer;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  text-decoration: none;
  text-indent: 0;
}

.product__input {
  max-width: 48px;
  color: #2a254b;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}

.product__buttons {
  display: flex;
  gap: 16px;
  padding-top: 46px;
}

.product__button-dark {
  background-color: #2a254b;
  color: #ffffff;
  width: 145px;
  height: 56px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.product__button-light {
  background-color: #ffffff;
  color: #2a254b;
  width: 184px;
  height: 56px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.catalogue__hero {
  position: relative;
}

.catalogue__hero-image {
}

.catalogue__hero-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalogue__content {
  position: relative;
  width: 100%;
  padding-top: 123px;
  padding-bottom: 36px;
}

.catalogut__content-title {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}

.catalogue__filters {
  max-width: 1392px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 24px;
}

.catalogue__filters-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.catalogue__filters-main-content {
}

.catalogue__filters-main-list {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.catalogue__filters-link::after {
  content: "▾";
  position: absolute;
  right: 0;
  margin-top: -2px;
  pointer-events: none;
}

.catalogue__filters-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.catalogue__filters-link {
  font-weight: 400;
  font-size: 16px;
  appearance: none;
  padding: 12px 48px 12px 24px;
  border: none;
}

.catalogue__filters-sorting {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.catalogue__filters-sorting-text {
  font-weight: 400;
  font-size: 14px;
  color: #2a254b;
}

.catalogue__filters-list {
}

.catalogue__filters-text {
  font-weight: 400;
  font-size: 16px;
  color: #2a254b;
}

.basket {
  background-color: #fafafa;
}

.shopping-cart-container {
  width: calc(100% - 376px);
  max-width: 1064px;
  display: flex;
  justify-self: center;
}

.basket__content {
  padding: 64px 0 48px 0;
}

.basket__content-title {
  margin: 0;
  padding-bottom: 48px;
  font-weight: 700;
  font-size: 36px;
  color: #2a254b;
}

.basket__content-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 12px;
  color: #2a254b;
}

.basket__product-col {
  width: 38%;
  display: flex;
  flex-direction: row;
  gap: 21px;
}

.basket__quantity-col {
  width: 33%;
  display: flex;
  justify-content: end;
}

.basket__total-col {
  width: 30%;
  display: flex;
  justify-content: end;
}

.basket__divider {
  width: calc(100% - 376px);
  height: 1px;
  background-color: #0000001a;
  display: flex;
  justify-self: center;
}

.basket__content-list {
  padding: 20px 0 32px 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.basket__content-product {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.basket__content-image {
}

.basket__content-product-card {
  max-width: 186px;
  width: 100%;
}

.basket__content-product-title {
  font-weight: 700;
  font-size: 20px;
  color: #2a254b;
  padding-bottom: 8px;
}

.basket__content-product-description {
  font-weight: 400;
  font-size: 14px;
  color: #2a254b;
  line-height: 150%;
  padding-bottom: 8px;
}

.basket__content-product-price {
  font-weight: 400;
  font-size: 16px;
  color: #2a254b;
}

.basket__content-quantity {
  font-weight: 400;
  font-size: 16px;
  color: #2a254b;
}

.basket__content-product-total {
  font-weight: 400;
  font-size: 18px;
  color: #2a254b;
}

.basket__content-subtotal {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.basket__content-subtotal-info {
  padding-top: 28px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.basket__content-subtotal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #4e4d93;
  align-self: flex-end;
}

.basket__content-subtotal-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #2a254b;
}

.basket__content-subtotal-description {
  padding-top: 12px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4e4d93;
}

.basket__content-button {
  background-color: #2a254b;
  color: #ffffff;
}

.product__quantitity-basket {
  padding-top: 12px;
  max-height: 46px;
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
}
